.videobg {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    pointer-events: none;
}

.container {

	overflow-y:visible;
	position: relative;
    overflow-x: hidden;

}

.logo-img {
	position: absolute;
	left: 50%;
	margin: -134px 0 0 -200px;
	width: 400px;
	top: 50%;
}
